@use "variables";
@use "breakpoints" as bp;

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding-top: 8vh;

    &__mobile {
        @include bp.breakpoint-down(small){
            padding-top: 15vh;
        }
    }

    &__text {
        color: variables.$grayish;
        font-weight: 200;

        &__mobile {
            @include bp.breakpoint-down(small){
                font-size: 5vw;
            }
        } 
    }

    &__copyright {
        color: variables.$grayish;
        font-weight: 200;
        &__mobile {
            @include bp.breakpoint-down(small){
                font-size: 4vw;
            }
        }
    }

    &__mail {
        font-weight: 200;
        font-size: small;
    }
}