@use "_variables" as variables;
@use "breakpoints" as bp;

.skills {

    min-height: 50vh;
    // min-height: 100vh;
    // height: 50vh;
  
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr; 
    grid-template-rows: 0.3fr 0.5fr 0.5fr; 
    gap: 2em 2em; 
    align-items: center;
    justify-items: center;
    grid-template-areas: 
      "skills__title skills__title skills__title skills__title"
      "skills__js skills__node skills__react skills__nosql"
      "skills__html skills__css skills__git skills__restapi"; 

    padding-top: variables.$header-height;


    &__svg {
      
      &__js {
        transition: all .5s ease;
        
        &:hover {
          fill: #f0db4f;
        }
      }
      
      &__react {
        transition: all .5s ease;
        

        &:hover {
          fill: #61DBFB;
        }

      }

    }

    &__title {
        grid-area: skills__title;
        font-size: 4vh;
        font-weight: bold;
    }

    &__icon__container {
      width: 50%;
      height: 50%;
    }

    &__js {
      grid-area: skills__js;
    }

    &__node {
      grid-area: skills__node;
    }

    &__react {
      grid-area: skills__react;
    }

    &__nosql {
      grid-area: skills__nosql;
    }

    &__html {
      grid-area: skills__html;
    }

    &__css {
      grid-area: skills__css;
    }

    &__git {
      grid-area: skills__git;
    }

    &__restapi {
      grid-area: skills__restapi;
    }
}

// CHECK IF NECESSARY


.blinking-cursor {
    color: variables.$grayish;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: variables.$grayish;
        // color: black;

    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
        color: variables.$grayish;
        // color: black;

    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: variables.$grayish;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: variables.$grayish;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: variables.$grayish;
    }
  }