@use "variables";
@use "breakpoints" as bp;


.home{
    min-height: 100vh;
    &__intro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        p {
            padding-top: 10px;
        }

        &__mobile {
            @include bp.breakpoint-down(small){
                padding-left: 5vw;
            }
        }

        &__svg {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 80px;
            // animation: down .7s ease-in-out infinite alternate;

            &__mobile {
                @include bp.breakpoint-down(small){
                    height: 40px;
                    width: 40px;
                }
            }
        }

        svg:hover{
            fill: variables.$greenish;
        }
    }

    &__greeting {
        font-size: variables.$font-greeting;
    }

    &__location {
        font-size: variables.$font-location;
    }

    &__name {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 1.2;
        font-size: variables.$font-name;
        font-weight: bold;
    }

    &__title {
        height: variables.$title-height;
        overflow: hidden;

        &__wrapper {
            height: 100%;
            // animation: move 12s ease-in-out infinite alternate;
        }

        &__item {
            height: variables.$title-height;
            font-size: variables.$font-title;
            font-weight: bold;
            color: variables.$greenish;
        }
    }
}