// colors

$darkBlue: hsl(233, 26%, 24%);
$grayish: hsl(167, 62%, 53%);
$red: hsl(0, 100%, 50%);
$greenish: hsl(167, 62%, 53%);


// fonts
$font-small: 0.875rem; // 14px
$font-medium: 1.125rem; // 18px
$font-large: 1.25rem; // 20px
$font-xlarge: 1.5rem; // 24px

// nav bar
$font-links: 32px;
$font-logo: 36px;


// home 
$font-greeting: 5vh;
$font-name: 7vh;
$font-title: 5vh;
$font-location: 3.5vh;

// sizes

$header-height: 5rem;
$title-height: 7vh;
